@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <body>
        <h2>Login Form</h2>
        <form method='post'>
            <p>
                <label>Login</label><br />
                <input name='login' class ="input-group-lg" />
            </p>
            <p>
                <label>Password</label><br />
                <input type='password' name='password' class="input-group-sm"/>
            </p>
            <input type='submit' value='Login' class = "btn btn-primary" />
        </form>
    </body>
</div>
